@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 96px;
  --header-offset: calc(var(--header-height) + 24px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #1f2933;
  font-family: 'Gotham', sans-serif;
  background-color: #f8f6f1;
}

.pt-safe-header {
  padding-top: var(--header-offset);
}